%div.section.hireus-cta.container.container--medium.text-center.clearfix
  %blockquote.section.quote
    %p.font-style--normal= data.contact_page.signoff
  = link_to data.contact_page.contact_btn, "/contact.html", class: "btn btn--primary", rel: "fade"
