%header.header
  %div.section.container.clearfix
    / - is_hidden = current_page.url == "/" ? "display-none" : "
    / = link_to ", "/index.html", class: "logo logo--small #{is_hidden}", rel: "fade"

    %nav.nav.nav--inline.header__nav.pull-right
      %li{class: ("header__nav__active" if current_page.url == "/")}
        = link_to "Hello", "/", class: "btn btn--empty", rel: "fade"
      / %li{class: ("header__nav__active" if current_page.url.match(/\/my-writing/i))}
      /   = link_to "My Writing", "/my-writing.html", class: "btn btn--empty", rel: "fade"
      %li{class: ("header__nav__active" if current_page.url.match(/\/cv/i))}
        = link_to "Curriculum Vitae", "/cv.html", class: "btn btn--empty", rel: "fade"
      %li
        = link_to data.contact_page.contact_btn, "/contact.html", class: "btn btn--primary", rel: "fade"

- if current_page.url == "/"
  / .container.logo.logo--main
