!!! 5
%html{ prefix: "og: http://ogp.me/ns#" }
  %head

    -# Setup Meta
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', width: 'device-width'}
    %meta{ name: 'google-site-verification', content: 'yT2-HAKllGbrVP2qNHn-n8r4Mb2ShGS_6ik8WEbmR2k'}
    %meta{ 'http-equiv' => 'cleartype', content: 'on'}

    -# Other Meta
    = partial 'layouts/partials/head_meta'

    -# Main stylesheet
    = stylesheet_link_tag 'styles'

    %link{rel: 'icon', href: image_url('favicon.ico')}

    = yield_content :head
