-# Data Setup -----------------------------------------------------------------

- default_title = "Ziggy Bracey"
- default_description = "I’m a content strategist and copywriter with skills in product management, looking for an join an exciting new start up where I can combining my writing skills with my love of food."

- @title = yield_content(:title).presence || current_page.data.title || default_title
- @description = (yield_content(:meta_description).presence || current_page.data.description || default_description)

- @author = {}
- if current_article.present?
  - @author[:name] = current_article.metadata[:page]['post_by']
- else
  - @author[:name] = 'Ziggy Bracey'
  - @author[:twitter] = '@zigandzigandzig'

- default_image = image_url('og/default.png')
- if current_article.present?
  - @frontmatter_image = current_article.metadata[:page]['og_image']
- @image = yield_content(:og_image).presence || current_page.data.og_image || @frontmatter_image || default_image


-# Meta Data-------------------------------------------------------------------

%title= @title
%meta{ name: 'description', content: @description }

/ %link{ rel: "publisher", href: "http://plus.google.com/105559728573291365462" }

%meta{ name: 'author', content: @author[:name] }
%link{ rel: 'author', href: @author[:google_plus] }


// Google+ Schema Meta

%meta{ itemprop: 'name', content: @title}
%meta{ itemprop: 'description', content: @description}
%meta{ itemprop: 'image', content: @image}


// Facebook Opengraph Meta

%meta{ property: 'og:site_name', content: 'Simple as Milk'}

- if current_article.present?
  %meta{ property: 'og:type', content: 'blog'}
- else
  %meta{ property: 'og:type', content: 'website'}

%meta{ property: 'og:local', content: 'en_GB'}
%meta{ property: 'og:title', content: @title}
%meta{ property: 'og:description', content: @description}
/ Link to url
%meta{ property: 'og:url', content: "#{host_with_port}#{current_resource.url}"}
%meta{ property: 'og:image', content: @image}


// Twitter Cards Meta

%meta{ property: 'og:twitter:card', content: 'summary_large_image'}
%meta{ property: 'og:twitter:site', content: '@zigandzigandzig'}
%meta{ property: 'og:twitter:creator', content: @author[:twitter]}
%meta{ property: 'og:twitter:url', content: 'http://writtenbyziggy'}
%meta{ property: 'og:twitter:title', content: @title}
%meta{ property: 'og:twitter:description', content: @description}
%meta{ property: 'og:twitter:image', content: @image}
