%div.section.hireus-cta.container.container--medium.text-center.clearfix
  %blockquote.section.quote
    %p.font-style--normal We’re here to produce a product we’re all proud of. Wanna build something beautiful together?
  %a.btn.btn--large.btn--primary{href: '#/contact'} Contact Me
