.span-1 {
	@include span-columns(1);
}
.span-2 {
	@include span-columns(2);
}
.span-3 {
	@include span-columns(3);
}
.span-4 {
	@include span-columns(4);
}
.span-5 {
	@include span-columns(5);
}
.span-6 {
	@include span-columns(6);
}
.span-7 {
	@include span-columns(7);
}
.span-8 {
	@include span-columns(8);
}
.span-9 {
	@include span-columns(9);
}
.span-10 {
	@include span-columns(10);
}
.span-11 {
	@include span-columns(11);
}
.span-12 {
	@include span-columns(12);
}

.span-fifth {
	float: left;
	display: block;
	width: 18%;
	margin-right: 2.5%;
	&:last-child {
		margin-right: 0;
	}
}

.span-2--of-8 {
	@include span-columns(2 of 8);
}
.span-3--of-8 {
  @include span-columns(3 of 8);
}
.span-3--of-9 {
  @include span-columns(3 of 9);
}
.span-3--of-12 {
  @include span-columns(3 of 12);
}
.span-4--of-12 {
  @include span-columns(4 of 12);
}
.span-3--of-12 {
  @include span-columns(3 of 12);
}
.span-5--of-12 {
  @include span-columns(5 of 12);
}
.span-6--of-12 {
  @include span-columns(6 of 12);
}

.shift-1 {
	@include shift(1);
}
