---
title: Simple as Milk - Styleguide
---

%section.hero

  %div.fixed--bottom
    %div.section.container.padding-bottom-none
      %h1 Simple as Milk website styleguide

      %div.section.separator-top

        %div.container
          %div.span-5
            %a.btn.btn--primary.btn--icon.btn--icon-right.icon--down{:href => "#learnmore"} View our styleguide


%div#learnmore.container.section
  %h1 Basics

  %h2 Typography
  %hr.section
  = partial "layouts/styleguide/basics/typography"

  %h2 Buttons
  %hr.section
  = partial "layouts/styleguide/basics/buttons"

  %h2 Alerts
  %hr.section
  = partial "layouts/styleguide/basics/alerts"

  %h2 Icons
  %hr.section
  = partial "layouts/styleguide/basics/icons"